<p id="notice"><%= notice %></p>

<h1>Order Shipping Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Order</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_shipping_addresses.each do |order_shipping_address| %>
      <tr>
        <td><%= order_shipping_address.order %></td>
        <td><%= order_shipping_address.address %></td>
        <td><%= link_to 'Show', order_shipping_address %></td>
        <td><%= link_to 'Edit', edit_order_shipping_address_path(order_shipping_address) %></td>
        <td><%= link_to 'Destroy', order_shipping_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order Shipping Address', new_order_shipping_address_path %>
